.cart-widget {
  position: relative;
}

.cart-icon {
  width: 30px;
  height: auto;
}

.cart-quantity {
  position: absolute;
  top: -15px; /* Ajustamos la posición vertical */
  right: -15px; /* Ajustamos la posición horizontal */
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
