.cart-widget-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.cart-widget {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5f5f5; /* Asegura que el fondo sea igual al del navbar */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 30px; /* Modifica el tamaño del icono del carrito */
  height: auto;
}

.cart-item-count {
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
