/* Estilos para el navbar */
.navbar {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logo */
.logo {
  max-height: 40px;
  border-radius: 8px;
}

/* Estilos para el contenedor del logo en el navbar */
.navbar-brand {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Estilos para el enlace del logo */
.navbar-brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

/* Estilos para el icono de categorías */
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilos para el contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilos para los elementos del menú desplegable */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambia el color del enlace al pasar el cursor sobre él */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Muestra el menú desplegable cuando se pasa el cursor sobre el botón */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para el contenedor de los elementos del navbar */
.navbar-items {
  display: flex;
  align-items: center;
}

/* Estilos para el contenedor del carrito */
.navbar-cart {
  display: flex;
  align-items: center;
}
