/* Dentro de NavBar.css */

/* Estilos para el navbar */
.navbar {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logo */
.logo {
  max-height: 40px; /* Ajusta el tamaño del logo según tus necesidades */
  border-radius: 8px; /* Agrega bordes redondeados al logo */
}

/* Estilos para el contenedor del logo en el navbar */
.navbar-brand {
  flex: 1; /* El logo ocupará todo el espacio disponible en el navbar */
}

/* Estilos para el contenedor de los elementos del navbar */
.navbar-items {
  display: flex;
  justify-content: center;
}

.navbar-cart {
  display: flex;
  justify-content: flex-end;
}
